.background-new {
  background-image: url("../../assets//background/Untitled-1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 651px;
  width: 100%;
}
.title {
  color: antiquewhite;
  padding-left: 10%;
  padding-top: 10%;
  font-size: 8vw;
  font-family: "Stencil Std";
}
#contact-button {
  margin-top: 80px;
  margin-left: 33%;
}

@media only screen and (max-width: 767px) {
  .conatainer {
    background-image: url("../../assets//background/Untitled-1.png");
  }
  .title {
    color: antiquewhite;
    padding-left: 11%;
    padding-top: 150px;
    justify-content: center;
    font-size: 10vw;
  }
  #contact-button {
    margin-top: 80px;
    margin-left: 31%;
  }
}

